<div class="container mb-5">
    <div class="row flex-row-reverse justify-content-center align-items-center">
        <div class="col-lg-7 col-md-6 col-sm-12 mb-3">
            <h3 class="display-4 font-weight-bold">The Artist</h3>
            <p>
                Making art work for you and your business. I also do home art canvases, family portraits, illustrations, and more.
            </p>
            <a href="#" class="btn btn-primary mt-2">Get Started</a>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
            <img src="/assets/home-image.jpg"
                class="img-fluid shadow-lg rounded"
                alt="content title">
        </div>
    </div>
</div>