<div class="container mb-5">
    <div class="row flex-row-reverse justify-content-center align-items-center">
        <div class="col-lg-7 col-md-6 col-sm-12 mb-3">
            <h3 class="display-4 font-weight-bold">Content Title</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, laborum. Aspernatur magnam culpa aut pariatur! Tempore fugit ullam modi libero quidem eum repellat veniam at quam itaque, doloremque magni. Ut.
            </p>
            <a href="#" class="btn btn-primary mt-2">Get Started</a>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12 mb-3">
            <img src="https://placehold.co/600x400" 
                class="img-fluid shadow-lg rounded"
                alt="content title">
        </div>
    </div>
</div>