<header class="home-intro view">
    <div class="container my-5 py-5 text-center">
        <div class="row mask rgba-black-strong justify-content-center align-items-center flex-center d-flex mx-auto" style="height: 100vh;">
            <div class="col-md-10 text-white">
                <h1 class="display-4 fw-bold mb-2">
                    Express <span class="text-info font-weight-bold">Art</span> Studio
                </h1>
                <h2>
                    Ask me today about an art piece for your home.
                </h2>
            </div>
        </div>
    </div>
</header>